<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/static/css/landing-page.min.css" rel="stylesheet">

</head>

<body>


<!-- Try Section -->
	<section class="bg-primary mb-0" id="try">
  	<div class="container">
    	<h2 class="text-center text-white">Please enter the url of a Towardsdatascience website!</h2>
    	<hr class="star-light mb-5">
          	<div class="col-sm m-3 text-center">
                	<form action="/output" method="GET" id="user_input">
                      	<input class="form-control" type="text" id="user_input" name='user_input' placeholder="https://towardsdatascience.com/late-payment-practices-is-this-the-ticking-time-bomb-of-the-uk-economy-5b958e4dd109">
                	</form>
  	</div>
   	<div class="row justify-content-center">
         	<button type="submit" class="btn btn-secondary btn-lg" form="user_input">Go!</button>
  	</div>

  	{% if my_form_result=='Empty' %}
  	<div class="row mt-4 justify-content-center">
        	<h4 class="text-danger text-center text-uppercase">You did not type anything!</h4>
  	</div>

  	{% elif my_form_result=='NotEmpty' %}

 <div class="row justify-content-start" style="padding-top:10px;">
     <label><b>{{my_title}}</b></label>
                </div>
                <div class="row justify-content-start" style="padding-top:10px;">

<table style="width:100%">
  <tr>
<!--    <th>Main text</th>-->
<!--    <th>Infrequent words</th>-->
  </tr>
  <tr>
    <td>{{my_maintextbefore}}<b>{{my_maintextkey}}</b>{{my_maintextafter}}</td>
      <td>{{my_first_word}}<br>{{my_first_definition}}</br></td>
  </tr>
  <tr>
    <td>{{my_maintextbefore2}}<b>{{my_maintextkey2}}</b>{{my_maintextafter2}}</td>
      <td>{{my_second_word}}<br>{{my_second_definition}}</br></td>
  </tr>
  <tr>
    <td>{{my_maintextbefore3}}<b>{{my_maintextkey3}}</b>{{my_maintextafter3}}</td>
    <td>{{my_third_word}}<br>{{my_third_definition}}</br></td>
  </tr>
      <tr>
    <td>{{my_maintextbefore4}}<b>{{my_maintextkey4}}</b>{{my_maintextafter4}}</td>
    <td>{{my_fourth_word}}<br>{{my_fourth_definition}}</br></td>
  </tr>
</table>


<!--                <div class="col" style="padding-top:10px;">-->
<!--<p class="text-black-50">{{my_maintext}}</p>-->
<!--                </div>-->
<!--                <div class="col" style="padding-top:1px;">-->

<!--                <div class="row justify-content-end" style="padding-top:10px;">-->
<!--<label>TextHelpers</label>-->



<!--                </div>-->
<!--                <div class="row justify-content-end" style="padding-top:10px;">-->
<!--<p class="text-black-50">-->
<!--    Word 1: {{my_first_word}}-->
<!--    <br />-->
<!--    Definition Word 1: {{my_first_definition}}-->
<!--    <br />-->
<!--        Word 2: {{my_second_word}}-->
<!--    <br />-->
<!--    Definition Word 2: {{my_second_definition}}-->
<!--    <br />-->
<!--</p>-->
<!--                </div>-->
<!--                </div>-->
<!--                </div>-->
<!--                <div class="row justify-content-end" style="padding-top:10px;">-->


<!--                </div>-->
<!--                <div class="row justify-content-end" style="padding-top:10px;">-->
<!--                </div>-->

  	{% else %}
  	{% endif %}
  	</div>
	</section>



  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
