


<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HTML Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<div class="container body-content">
    <div class="container">

        <div class="row justify-content-start" style="padding-top:10px;">

                <div class="col" style="padding-top:10px;">
<input class="form-control"></input>


                </div>
                <div class="col" style="padding-top:10px;">
<button class="btn btn-primary">GET ARTICLE TEXT</button>


                </div>
                </div>


        <div class="row justify-content-start" style="padding-top:10px;">
<label>TITLE</label>



                </div>
                <div class="row justify-content-start" style="padding-top:10px;">

                <div class="col" style="padding-top:10px;">
<p class="text-black-50">On his first day as CEO of the Carlsberg Group, a global brewery and beverage company, Cees t Hart was given a key card by his assistant. The card locked out all the other floors for the elevator so that he could go directly to his corner office on the 20th floor. And with its picture windows, his office offered a stunning view of Copenhagen. These were the perks of his new position, ones that spoke to his power and importance within the company.</p>
                </div>
                <div class="col" style="padding-top:1px;">

                <div class="row justify-content-end" style="padding-top:10px;">
<label>SYNONYMS</label>



                </div>
                <div class="row justify-content-end" style="padding-top:10px;">
<p class="text-black-50">
    Word 1: XXX
    <br />
    Synonym 1: XXX
    <br />
    Definition 1: XXX
</p>
                </div>
                </div>
                </div>
                <div class="row justify-content-end" style="padding-top:10px;">


                </div>
                <div class="row justify-content-end" style="padding-top:10px;">
                </div>


</div>
</div>
</body>
</html>
